---
import { greeter } from "../contracts/greeter";

const { result } = await greeter.hello({ to: "Stellar" });
const greeting = result.join(" ");
---

<div>
  <h1>Greeter</h1>
  <p>{greeting}</p>
</div>
