---
import * as Client from '../../packages/hello_world';
import ConnectWallet from '../components/ConnectWallet.astro'
import Incrementor from '../components/Incrementor.astro'

const contract = new Client.Client({
   ...Client.networks.testnet,
   rpcUrl: 'https://soroban-testnet.stellar.org:443'
});

const { result } = await contract.hello({to: "Osi"});
const greeting = result.join(" ");
---

<header>
   <ConnectWallet />
</header>

<main>
   <h1>{greeting}</h1>
   <Incrementor />
</main>
