---
import ConnectWallet from "../components/ConnectWallet.astro";
import Greeter from "../components/Greeter.astro";
import Counter from "../components/Counter.astro";
---

<style>
  body {
    margin: 0;
  }

  header {
    background-color: #eee;
    padding: 0.5rem 1rem;
  }

  main {
    padding: 0 1rem;
  }
</style>

<header>
  <ConnectWallet />
</header>
<main>
  <Greeter />
  <Counter />
</main>
